---
import type { HTMLAttributes } from "astro/types";
import { SITE } from "@/config";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={[
    "site-footer app-layout",
    { "mt-auto": !noMarginTop },
    className,
  ]}
  {...attrs}
>
  <span>© {currentYear} {SITE.author}</span>
  <a href="/rss.xml">rss</a>
</footer>
