---
type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;
---

<li>
  <span
    transition:name={tag}
    class:list={["tag-token", { "text-sm": size === "sm" }]}>#{tagName}</span
  >
</li>
