---
import type { MarkdownLayoutProps } from "astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Layout from "./Layout.astro";
import { SITE } from "@/config";

type Props = MarkdownLayoutProps<{ title: string }>;

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <main id="main-content" class="section-layout app-layout">
    <section id="about" class="app-prose prose-img:border-0">
      <h1>{frontmatter.title}</h1>
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
